/* New CSS File */
#controls {
	color:purple;
}
#players {
	color:blue;
	text-align:center;
}
#player1 {
	color:red;
	text-align:left;
}
#player2 {
	color:green;
	text-align:right;
}
#playerformat {
	background:yellow;
	width:320px;
}
#board {
	background:gray;
	width:320px;
}