/* New CSS File */
#controls {
	color:purple;
}
#players {
	position:relative;
	color:blue;
	text-align:center;
}
#player1 {
	position:absolute;
	color:red;
	top:50px;
	left:100px;
	width:32px;
	height:32px;
}
#player2 {
	position:absolute;
	color:green;
	top:50px;
	left:175px;
	width:32px;
	height:32px;
}
#playerformat {
	position:relative;
	background:yellow;
	width:320px;
	height:100px;
}
#board {
	position:relative;
	background:gray;
	width:320px;
}
#box1 {
	position:absolute;
	height:50px;
	width:50px;
	display:box;
	left:50px;
	top:50px;
}

#box2 {
	position:absolute;
	height:50px;
	width:50px;
	display:box;
	left:125px;
	top:50px;
}

#box3 {
	position:absolute;
	height:50px;
	width:50px;
	display:box;
	left:200px;
	top:50px;
}

#box4 {
	position:absolute;
	height:50px;
	width:50px;
	display:box;
	left:50px;
	top:120px;
}

#box5 {
	position:absolute;
	height:50px;
	width:50px;
	display:box;
	left:125px;
	top:120px;
}

#box6 {
	position:absolute;
	height:50px;
	width:50px;
	display:box;
	left:200px;
	top:120px;
}

#box7 {
	position:absolute;
	height:50px;
	width:50px;
	display:box;
	left:50px;
	top:200px;
}

#box8 {
	position:absolute;
	height:50px;
	width:50px;
	display:box;
	left:125px;
	top:200px;
}

#box9 {
	position:absolute;
	height:50px;
	width:50px;
	display:box;
	left:200px;
	top:200px;
}